VITE_API_KEY=sua_api_key_aqui
VITE_FLOW_ID=c9308981-7444-40bd-8ee9-ae1426d8f9bb
VITE_HOST_URL=https://langflow.inovai.app

# LangGraph API
VITE_LANGSMITH_API_URL=https://langgraph-val.inovai.app
VITE_LANGSMITH_API_KEY=sua_api_key_aqui
VITE_GRAPH_ID=valcapelli
