VITE_API_KEY=sua_api_key_aqui
VITE_FLOW_ID=61a17804-9284-446d-8e60-3801aef9bb60
VITE_HOST_URL=https://langflow.inovai.app

# LangGraph API
VITE_LANGSMITH_API_URL=https://langgraph-val.inovai.app
VITE_LANGSMITH_API_KEY=sua_api_key_aqui
VITE_GRAPH_ID=valcapelli
